name: Build and Tests

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Setup Nodejs
      uses: actions/setup-node@v2
      with:
        node-version: 22
    
    - name: Install Dependencies
      run: npm ci

    - name: Run Unit Tests
      run: npm run test

    - name: Build
      run: npm run build
